Homework

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [96]:
a = 1
print(a)

1

2) Imprimir el tipo de dato de la constante 8.5

In [97]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [98]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [99]:
nombre = 'David'

5) Crear una variable que contenga un número complejo

In [100]:
numero_complejo = 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [101]:
type(numero_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [102]:
pi = 3.1416


8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [103]:
valor1 = 'True'
valor2 = True


9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [104]:
print("Variable1 =", type(valor1), "Variable2 =", type(valor2))

Variable1 = <class 'str'> Variable2 = <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [105]:
a = 1 + .5

11) Realizar una operación de suma de números complejos

In [106]:
a = 5 + 1j
b = 1 + 5j
print(a + b)

(6+6j)

12) Realizar una operación de suma de un número real y otro complejo

In [107]:
c = 1.11 + a
print(c)

(6.11+1j)

13) Realizar una operación de multiplicación

In [108]:
3 * 2

6

14) Mostrar el resultado de elevar 2 a la octava potencia

In [109]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [110]:
division = 27 / 4
print(division)

6.75

16) De la división anterior solamente mostrar la parte entera

In [111]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [112]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [113]:
print(4 * division + 3)

30.0

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [114]:
nombre + nombre

'DavidDavid'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [115]:
"2" == 2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [116]:
"2" == str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [117]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [119]:
variable = 3
variable -= 1
print(variable)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [120]:
1 << 2

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [121]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [124]:
int(2) + int('2')

4

In [123]:
str(2) + str('2')

'22'

In [125]:
float(2) + float('2')

4.0

26) Realizar una operación válida entre valores de tipo entero y string

In [129]:
var1 = 'Mi nombre es '
var2 = '*REDOBLES* '
var3 = 3
var4 = 'David'
print(var1 + (var2 * var3) + var4)

Mi nombre es *REDOBLES* *REDOBLES* *REDOBLES* David